<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Submission to the <%= title %></p>
    <p>Anand Amrit Raj</p>
    <p>NIT Raipur, B.Tech, Computer Science &amp; Engineering, Fourth year undergraduate.</p>
  </body>
</html>
